.container {
	@apply w-full h-[60px] lg:h-[80px] px-5
	top-0 z-[100] transition-all duration-200
	flex justify-between items-center;

	.logo {
		@apply flex items-center gap-[10px];

		img {
			@apply w-[43px] lg:w-[65px];
		}

		p {
			@apply text-xl font-bold bg-clip-text text-transparent 
			bg-gradient-to-tr from-yellow-400 to-blue-400;
		}
	}

	.navbar {
		@apply hidden lg:flex gap-[20px] text-base items-center;

		.navigation {
			@apply flex gap-[20px];

			a {
				@apply font-semibold border-transparent transition-colors;

				&:hover {
					@apply border-b-[1px] border-[#fff];
				}
			}
		}

		.language {
			p {
				@apply font-semibold transition-colors;
			}
		}

		button {
			@apply bg-blue-500 px-4 py-2 font-medium text-[#fff] transition-colors;

			&:hover {
				@apply bg-yellow-400 text-[#000];
			}
		}
	}

	.burger {
		@apply block lg:hidden
		w-[40px] h-[30px] transition-colors
		flex flex-col justify-between;

		.slice {
			@apply w-full h-[3px] rounded-full;
		}
	}

	.slice1.clicked {
		transform: rotate(45deg) translate(9.5px, 9.5px);
		transition: ease-out .2s;
	}
	.slice2.clicked {
		opacity: 0;
		transition: ease-out .2s;
	}
	.slice3.clicked {
		transform: rotate(-45deg) translate(9.5px, -9.5px);
		transition: ease-out .2s;
	}

	.slice1.unclicked {
		transform: rotate(0);
		transition: ease-out .2s;
	}
	.slice2.unclicked {
		opacity: 1;
		transition: ease-out .2s;
	}
	.slice3.unclicked {
		transform: rotate(0) translate(0);
		transition: ease-out .2s;
	}
}
